.certifications {
    margin: 20px;
    padding: 20px;
  }
  
  .certifications h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
    font-family: 'Arial', sans-serif;
    border-bottom: 2px solid #444;
  }
  
  .cert-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cert-item h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .cert-item p {
    margin: 5px 0;
  }
  
  .cert-item a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .cert-item a:hover {
    text-decoration: underline;
  }
  